Repository Autonomobile/AutoPylot, pull requests merged in 2022-01, with the labels that each got.

#6 created a webcam class and dummy class
  AutoPylot/cameras/camera.py
  AutoPylot/cameras/dummy.py
  AutoPylot/cameras/webcam.py
Labels: data handling

#23 Serial control and controller
  .github/workflows/python-package.yml
  .gitignore
  autopylot/cameras/__init__.py
  autopylot/cameras/camera.py
  autopylot/cameras/dummy.py
  autopylot/cameras/webcam.py
  autopylot/controls/controller.py
  autopylot/controls/serial_control.py
  autopylot/tests/__init__.py
  autopylot/tests/context.py
  autopylot/tests/test_cameras.py
  autopylot/tests/test_controller.py
  autopylot/tests/test_memory.py
  autopylot/tests/test_serial_control.py
  autopylot/utils/utils.py
  requirements.txt
  setup.py
Labels: serial port, controller

#27 website update
  package-lock.json
  website/components/Info.js
  website/package-lock.json
  website/package.json
  website/public/pdf/test.pdf
Labels: presentation website

#25 IO functions
  autopylot/tests/test_io.py
  autopylot/utils/io.py
  requirements.txt
  setup.py
Labels: data handling

#29 Basic control loop
  README.md
  autopylot/__init__.py
  autopylot/controls/controller.py
  autopylot/controls/serial_control.py
  autopylot/controls/state_switcher.py
  autopylot/tests/test_state_switcher.py
  autopylot/tests/test_utils.py
  autopylot/utils/utils.py
  main_programs/drive.py
  package-lock.json
  setup.py
Labels: main control loop
